MultiGamePOM/MultiGameWebserviceClient/src/main/axis2/Registrar.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.ejb.multigame.ecosur.mx/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://impl.ejb.multigame.ecosur.mx/" name="RegistrarService">
<ns1:Policy xmlns:ns1="http://www.w3.org/ns/ws-policy" wsu:Id="RegistrarPortBinding_Register_WSAT_Policy">
<ns1:ExactlyOne>
<ns1:All>
<ns2:ATAlwaysCapability xmlns:ns2="http://schemas.xmlsoap.org/ws/2004/10/wsat"></ns2:ATAlwaysCapability>
<ns3:ATAssertion xmlns:ns4="http://schemas.xmlsoap.org/ws/2002/12/policy" xmlns:ns3="http://schemas.xmlsoap.org/ws/2004/10/wsat" ns1:Optional="true" ns4:Optional="true"></ns3:ATAssertion>
</ns1:All>
</ns1:ExactlyOne>
</ns1:Policy>
<ns5:Policy xmlns:ns5="http://www.w3.org/ns/ws-policy" wsu:Id="RegistrarPortBinding_RegisterPlayer_WSAT_Policy">
<ns5:ExactlyOne>
<ns5:All>
<ns6:ATAlwaysCapability xmlns:ns6="http://schemas.xmlsoap.org/ws/2004/10/wsat"></ns6:ATAlwaysCapability>
<ns7:ATAssertion xmlns:ns8="http://schemas.xmlsoap.org/ws/2002/12/policy" xmlns:ns7="http://schemas.xmlsoap.org/ws/2004/10/wsat" ns5:Optional="true" ns8:Optional="true"></ns7:ATAssertion>
</ns5:All>
</ns5:ExactlyOne>
</ns5:Policy>
<ns9:Policy xmlns:ns9="http://www.w3.org/ns/ws-policy" wsu:Id="RegistrarPortBinding_Unregister_WSAT_Policy">
<ns9:ExactlyOne>
<ns9:All>
<ns10:ATAlwaysCapability xmlns:ns10="http://schemas.xmlsoap.org/ws/2004/10/wsat"></ns10:ATAlwaysCapability>
<ns11:ATAssertion xmlns:ns12="http://schemas.xmlsoap.org/ws/2002/12/policy" xmlns:ns11="http://schemas.xmlsoap.org/ws/2004/10/wsat" ns9:Optional="true" ns12:Optional="true"></ns11:ATAssertion>
</ns9:All>
</ns9:ExactlyOne>
</ns9:Policy>
<ns13:Policy xmlns:ns13="http://www.w3.org/ns/ws-policy" wsu:Id="RegistrarPortBinding_RegisterAgent_WSAT_Policy">
<ns13:ExactlyOne>
<ns13:All>
<ns14:ATAlwaysCapability xmlns:ns14="http://schemas.xmlsoap.org/ws/2004/10/wsat"></ns14:ATAlwaysCapability>
<ns15:ATAssertion xmlns:ns16="http://schemas.xmlsoap.org/ws/2002/12/policy" xmlns:ns15="http://schemas.xmlsoap.org/ws/2004/10/wsat" ns13:Optional="true" ns16:Optional="true"></ns15:ATAssertion>
</ns13:All>
</ns13:ExactlyOne>
</ns13:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://impl.ejb.multigame.ecosur.mx/" schemaLocation="http://localhost:8080/RegistrarService/Registrar?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="Register">
<part name="parameters" element="tns:Register"></part>
</message>
<message name="RegisterResponse">
<part name="parameters" element="tns:RegisterResponse"></part>
</message>
<message name="Unregister">
<part name="parameters" element="tns:Unregister"></part>
</message>
<message name="UnregisterResponse">
<part name="parameters" element="tns:UnregisterResponse"></part>
</message>
<message name="InvalidRegistrationException">
<part name="fault" element="tns:InvalidRegistrationException"></part>
</message>
<message name="RegisterPlayer">
<part name="parameters" element="tns:RegisterPlayer"></part>
</message>
<message name="RegisterPlayerResponse">
<part name="parameters" element="tns:RegisterPlayerResponse"></part>
</message>
<message name="RegisterAgent">
<part name="parameters" element="tns:RegisterAgent"></part>
</message>
<message name="RegisterAgentResponse">
<part name="parameters" element="tns:RegisterAgentResponse"></part>
</message>
<portType name="Registrar">
<operation name="Register">
<input message="tns:Register"></input>
<output message="tns:RegisterResponse"></output>
</operation>
<operation name="Unregister">
<input message="tns:Unregister"></input>
<output message="tns:UnregisterResponse"></output>
<fault message="tns:InvalidRegistrationException" name="InvalidRegistrationException"></fault>
</operation>
<operation name="RegisterPlayer">
<input message="tns:RegisterPlayer"></input>
<output message="tns:RegisterPlayerResponse"></output>
<fault message="tns:InvalidRegistrationException" name="InvalidRegistrationException"></fault>
</operation>
<operation name="RegisterAgent">
<input message="tns:RegisterAgent"></input>
<output message="tns:RegisterAgentResponse"></output>
<fault message="tns:InvalidRegistrationException" name="InvalidRegistrationException"></fault>
</operation>
</portType>
<binding name="RegistrarPortBinding" type="tns:Registrar">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="Register">
<ns17:PolicyReference xmlns:ns17="http://www.w3.org/ns/ws-policy" URI="#RegistrarPortBinding_Register_WSAT_Policy"></ns17:PolicyReference>
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="Unregister">
<ns18:PolicyReference xmlns:ns18="http://www.w3.org/ns/ws-policy" URI="#RegistrarPortBinding_Unregister_WSAT_Policy"></ns18:PolicyReference>
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="InvalidRegistrationException">
<soap:fault name="InvalidRegistrationException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="RegisterPlayer">
<ns19:PolicyReference xmlns:ns19="http://www.w3.org/ns/ws-policy" URI="#RegistrarPortBinding_RegisterPlayer_WSAT_Policy"></ns19:PolicyReference>
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="InvalidRegistrationException">
<soap:fault name="InvalidRegistrationException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="RegisterAgent">
<ns20:PolicyReference xmlns:ns20="http://www.w3.org/ns/ws-policy" URI="#RegistrarPortBinding_RegisterAgent_WSAT_Policy"></ns20:PolicyReference>
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="InvalidRegistrationException">
<soap:fault name="InvalidRegistrationException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="RegistrarService">
<port name="RegistrarPort" binding="tns:RegistrarPortBinding">
<soap:address location="http://localhost:8080/RegistrarService/Registrar"></soap:address>
</port>
</service>
</definitions>